$color-primary: #EE5A51;
$color-secondary: #D8E6FF;  
$color-light: #F9FAFC;
$color-body: #383239;

$font-primary: 'Libre Franklin', sans-serif;
$font-secondary: 'Libre Baskerville', serif;

* {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    font-size: 1.1em;
    color: $color-body;
    line-height: 1.6;
    background: $color-light;
}

section {
    padding: 1em 2em 0;
    .container {
        .wrapper {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

img {
    height: auto;
    max-width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap
}

h1 {
    font-weight: 600;
    font-family: $font-secondary;
    font-size: 1.8em;
    color: $color-primary;
}

#hero {
    background: $color-secondary;
    // border: 1em solid $color-body;
    .wrapper {
        div:first-of-type {
            flex: 2;
        }
        div:last-of-type {
            flex: 1;
            flex-direction: column;
            justify-content: center;
            p {
                z-index: 2;
                position: relative;
                padding: 0 0.5em;
                font-weight: 600;
                width: fit-content;
                color: $color-secondary;
                &:before {
                    background-color: $color-body;
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    display: block;
                    height: 100%;
                    z-index: -1;
                    padding: 0.25em 0.5em;
                    border-radius: 5px;
                    margin-top: -0.25em;
                }
            }
            h2 {
                align-self: center;
                line-height: 1; 
                color: $color-primary;
                font-size: 4em;
                margin-top: 0;
            }
        }
    }
}

#about {
    padding-left: 3em;
    padding-right: 3em;
    
    .wrapper{
        .d-flex {
            div {              
                flex: 1;
                padding: 1em;
                p {
                    text-align: justify;
                }
            }
            div:first-of-type {
                margin-right: 1em;
                align-self: center;
                padding-right: 1.5em;
            }
            div:last-of-type {
                margin-left: 1em;
                margin-top: -1em;
                padding-top: 3em;
                margin-right: -3em;
                padding-right: 3em;
                padding-left: 3em;
                background: $color-body;
                color: $color-light;
                border-top-left-radius: 100px;
                p {
                    padding: 1em;
                }
            }
        }
    }
}


.slide-out-top {
	-webkit-animation: slide-out-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-5 19:23:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2019-3-5 19:38:9
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2019-3-5 19:45:6
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  